<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Configurações de Conexão com o Banco de Dados -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/opencart_ag?useTimezone=true&amp;serverTimezone=America/Sao_Paulo</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">c9jEuA$TUIJj$DAT</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">jta</property>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.Pagination"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.Logradouro"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.Bairro"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.Cidade"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCreditCard"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.Estado"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableAddress"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableApi"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableApiSession"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableBanner"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableBannerImage"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCart"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCategory"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCountry"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCoupon"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCouponHistory"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCouponProduct"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCreditCard"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCurrency"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomer"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerActivity"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerApproval"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerGroup"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerHistory"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerIp"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerLogin"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerOnline"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerReward"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerSearch"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableCustomerTransaction"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableEvent"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableExtension"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableExtensionInstall"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableExtensionPath"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableFeaturedProduct"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableFilter"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableGeoZone"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableInformation"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableLanguage"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableLayout"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableLayoutModule"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableLayoutRoute"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableLengthClass"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableLocation"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableManufacturer"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableMarketing"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableModification"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableModule"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOption"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOptionValue"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrder"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderHistory"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderOption"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderProduct"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderRecurring"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderRecurringTransaction"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderShipment"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderStatus"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderTotal"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.test.TableOrderTemp"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableOrderVoucher"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableProduct"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableProductDiscount"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableProductImage"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableProductOption"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableProductOptionValue"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableProductRecurring"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableProductSpecial"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableRecurring"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableReturn"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableReturnAction"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableReturnReason"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableReturnStatus"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableReview"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableSeoUrl"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableSession"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableSetting"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableShippingCourier"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableStatistics"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableStockStatus"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableStore"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableTaxClass"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableTaxRate"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableTaxRule"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableTheme"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableTranslation"/>
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableUpload"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableUser"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableUserGroup"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableWeightClass"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableZone"/> 
    <mapping class="br.com.fatecmogidascruzes.domain.impl.TableZoneToGeoZone"/>
  </session-factory>
</hibernate-configuration>
