<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ZZZ_agPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdReturnReason</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdGoogleshoppingProductTarget</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdUser</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCurrency</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerOnline</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductDiscount</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdLocation</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdTranslation</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductImage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerReward</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdTheme</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCouponProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdInformationToLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOptionValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCategoryToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCountry</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCategoryPath</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomer</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCouponCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdStatistics</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdDownload</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerApproval</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerActivity</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductSpecial</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdEvent</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdVoucher</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdApiIp</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCategoryFilter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdTaxRule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdLanguage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdShippingCourier</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductToLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdTaxClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdTaxRate</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdExtension</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdUpload</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdGoogleshoppingTarget</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdReturnAction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdFilterGroupDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderShipment</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdUserGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdApi</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomFieldCustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdSession</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdReview</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerGroupDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerAffiliate</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomFieldValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCategoryToLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderVoucher</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrder</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductAttribute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomField</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdAddress</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdApiSession</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCart</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerLogin</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdAttributeGroupDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductReward</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdBannerImage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdGoogleshoppingProductStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdBanner</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdFilterDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdInformationDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdGeoZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdMarketing</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdAttribute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductRelated</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdZoneToGeoZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdLayoutModule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdManufacturer</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdSetting</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdVoucherThemeDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdStockStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdModification</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerSearch</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOptionDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductToDownload</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerTransaction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOptionValueDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductToCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdFilter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdReturnStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomFieldValueDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdRecurringDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductFilter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCouponHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderTotal</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdInformation</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdLengthClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdTaxRateToCustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdWeightClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdManufacturerToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdModule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdExtensionPath</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdLayoutRoute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerIp</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdInformationToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdLengthClassDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdVoucherHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdSeoUrl</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomFieldDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdDownloadDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdFilterGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdReturn</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdOrderRecurringTransaction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCategoryDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdGoogleshoppingCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdGoogleshoppingProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdWeightClassDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCustomerWishlist</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdAttributeGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdAttributeDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdVoucherTheme</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdExtensionInstall</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductOptionValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdProductRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdReturnHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCoupon</class>
    <class>br.com.fatecmogidascruzes.domain.impl.XqqdCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductToCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.AttributeDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.InformationToLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Voucher</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductSpecial</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TaxClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.InformationToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderShipment</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Currency</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductAttribute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerGroupDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ZoneToGeoZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.BannerImage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Return</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CouponHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Recurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CategoryToLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductFilter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductImage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.FilterGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OptionDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ApiIp</class>
    <class>br.com.fatecmogidascruzes.domain.impl.User</class>
    <class>br.com.fatecmogidascruzes.domain.impl.UserGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.SeoUrl</class>
    <class>br.com.fatecmogidascruzes.domain.impl.LayoutRoute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ExtensionInstall</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ShippingCourier</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Order1</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomFieldValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Category</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Cart</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Upload</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductReward</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Statistics</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductRelated</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Marketing</class>
    <class>br.com.fatecmogidascruzes.domain.impl.VoucherHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TaxRate</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomFieldValueDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerSearch</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomField</class>
    <class>br.com.fatecmogidascruzes.domain.impl.GoogleshoppingTarget</class>
    <class>br.com.fatecmogidascruzes.domain.impl.LayoutModule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.GoogleshoppingProductStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OptionValueDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Module</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Language</class>
    <class>br.com.fatecmogidascruzes.domain.impl.GeoZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Translation</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ExtensionPath</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ManufacturerToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CouponProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Event</class>
    <class>br.com.fatecmogidascruzes.domain.impl.AttributeGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductToDownload</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CategoryPath</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerOnline</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ReturnAction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Theme</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Attribute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Zone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Store</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerApproval</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomFieldDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.DownloadDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Manufacturer</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductOptionValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerAffiliate</class>
    <class>br.com.fatecmogidascruzes.domain.impl.FilterGroupDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Extension</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderTotal</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Setting</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomFieldCustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.LengthClassDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ReturnHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Information</class>
    <class>br.com.fatecmogidascruzes.domain.impl.AttributeGroupDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Banner</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Download</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Modification</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ApiSession</class>
    <class>br.com.fatecmogidascruzes.domain.impl.GoogleshoppingProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.LengthClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.VoucherThemeDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductToLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OptionValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Filter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.VoucherTheme</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TaxRule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderVoucher</class>
    <class>br.com.fatecmogidascruzes.domain.impl.WeightClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.FilterDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Layout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CouponCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ReturnStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TaxRateToCustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Option</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Country</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CategoryDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.StockStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Api</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerActivity</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CategoryFilter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ReturnReason</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderRecurringTransaction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerReward</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CategoryToStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.RecurringDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Customer</class>
    <class>br.com.fatecmogidascruzes.domain.impl.InformationDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.WeightClassDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Location</class>
    <class>br.com.fatecmogidascruzes.domain.impl.ProductDiscount</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Coupon</class>
    <class>br.com.fatecmogidascruzes.domain.impl.OrderStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.GoogleshoppingProductTarget</class>
    <class>br.com.fatecmogidascruzes.domain.impl.GoogleshoppingCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerWishlist</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerTransaction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerLogin</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Review</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Address</class>
    <class>br.com.fatecmogidascruzes.domain.impl.CustomerIp</class>
    <class>br.com.fatecmogidascruzes.domain.impl.Product</class>
    <class>br.com.fatecmogidascruzes.domain.impl.FeaturedProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.SessionX</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableAddress</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableApi</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableSession</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableMarketing</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCouponHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableStore</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableTaxClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableManufacturer</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableStockStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCoupon</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerApproval</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerWishlist</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCurrency</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableWeightClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCouponProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableFeaturedProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductOptionValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableZoneToGeoZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableFilterDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableVoucherHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableFilterGroupDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableTaxRateToCustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCouponCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableGeoZone</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductDiscount</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableTaxRate</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductImage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCategoryPath</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderOption</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableSeoUrl</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableVoucherThemeDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableGoogleshoppingProductStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableExtension</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderShipment</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderTotal</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableReturnReason</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerReward</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableLayout</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableInformation</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductToCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableReview</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableVoucherTheme</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableTaxRule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOptionDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableSetting</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerActivity</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableUserGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductSpecial</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOptionValueDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableTableAddress</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCart</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableLocation</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableEvent</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableReturnHistory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductFilter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableModule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableReturnAction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableLengthClass</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderRecurringTransaction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductRelated</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableVoucher</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableApiSession</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableGoogleshoppingProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableGoogleshoppingTarget</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductAttribute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomer</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableGoogleshoppingCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableRecurringDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerOnline</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductRecurring</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableLayoutRoute</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableTheme</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableUser</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableShippingCourier</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCountry</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableReturnStatus</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableFilter</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOptionValue</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableFilterGroup</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProductReward</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableStatistics</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableTranslation</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableUpload</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableApiIp</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableLengthClassDescription</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerSearch</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableProduct</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerLogin</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrderVoucher</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableLayoutModule</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableGoogleshoppingProductTarget</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableReturn</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableExtensionInstall</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableStoreToCategory</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableBanner</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableStoreToFeatured</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerIp</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableOrder</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableLanguage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableBannerImage</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableModification</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableCustomerTransaction</class>
    <class>br.com.fatecmogidascruzes.domain.impl.TableExtensionPath</class>
    <class>br.com.fatecmogidascruzes.domain.impl.test.TableOrderTemp</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/opencart?useTimezone=true&amp;serverTimezone=America/Sao_Paulo"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="c9jEuA$TUIJj$DAT"/>
    </properties>
  </persistence-unit>
</persistence>
